{% extends 'tracker/main.html'%}
{% block content %}
<div class="container-fluid content">
 <div class="col"
  style="background-color: #161e2c;; width: inherit; border-radius: 25px; box-shadow: 5px 5px 8px #0d1119, -5px -5px 8px #1f2b3f">
  <h1 style="color: white; font-size: 45px; text-align: center; padding-top: 15px; font-weight: bolder;">
   <i class="fa fa-address-card"></i>
   About
  </h1>
  <div class="row" style=" display: flex; flex-direction: row; justify-content: center;">
   <div class="col-lg-6 col-sm-12 container--wrap center">
    <h2 style="color: #DFDFEF; font-size: 35px; text-align: center; padding-top: 15px; font-weight: bolder;">
     <svg style="width: 25px; padding-bottom: 6px" aria-hidden="true" focusable="false" data-prefix="fas"
      data-icon="question-circle" class="svg-inline--fa fa-question-circle fa-w-16" role="img"
      xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
      <path fill="currentColor"
       d="M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zM262.655 90c-54.497 0-89.255 22.957-116.549 63.758-3.536 5.286-2.353 12.415 2.715 16.258l34.699 26.31c5.205 3.947 12.621 3.008 16.665-2.122 17.864-22.658 30.113-35.797 57.303-35.797 20.429 0 45.698 13.148 45.698 32.958 0 14.976-12.363 22.667-32.534 33.976C247.128 238.528 216 254.941 216 296v4c0 6.627 5.373 12 12 12h56c6.627 0 12-5.373 12-12v-1.333c0-28.462 83.186-29.647 83.186-106.667 0-58.002-60.165-102-116.531-102zM256 338c-25.365 0-46 20.635-46 46 0 25.364 20.635 46 46 46s46-20.636 46-46c0-25.365-20.635-46-46-46z">
      </path>
     </svg> Who made this website?</h2>
    <p style="color: #DFDFEF;">
    </p>
    <ol style="color: #DFDFEF; font-size: 20px;">
     <li>
      This site was created by <strong>Khalid Farooq.</strong> I am a computer science undergrad based in
      Bangalore, INDIA.
     </li>
     <li>
      You can email me at wandererkhalid@gmail.com.
     </li>
     <li>
      You can find my LinkedIn <a style="color: inherit" target="_blank"
       href="https://www.linkedin.com/in/khalid-farooq-886990173/"><u>here.</u></a>
     </li>
     <li>
      <div class="col p-0 mr-2 mb-2">
       <a href="https://www.instagram.com/wordsofkhalid/" target="_blank"><button
         style="font-size: 14px;background: radial-gradient(circle at 0% 107%, #fd5949 45%,#d6249f 70%) !important;height: 30px;padding: 0 12px;"
         class="btn btn-primary btn-instagram rounded" type=""><i class="fa fa-instagram"></i> Follow
         @wordsofkhalid</button></a>
      </div>
      <div class="col p-0 mr-2 mb-2">
       <a href="https://www.twitter.com/wordsofkhalidd/" target="_blank"><button
         style="font-size: 14px;background: #00acee;height: 30px;padding: 0 12px;"
         class="btn btn-primary btn-instagram rounded" type=""><i class="fa fa-twitter"></i> Follow
         @wordsofkhalid</button></a>
      </div>

     </li>
    </ol>
    <p></p>
   </div>
  </div>
  <div class="row" style=" display: flex; flex-direction: row; justify-content: center;">
   <div class="col-lg-6 col-sm-12 container--wrap center">
    <h2 style="color: rgb(212, 175, 9); font-size: 20px; text-align: center; padding-top: 15px; font-weight: bolder;">
     <i class="fa fa-code-branch"></i> If you have a cool idea and want to add it to the website, email me
     at ncov19india@gmail.com.</h2>

   </div>
  </div>
  <div class="row" style="padding-bottom: 25px; display: flex; flex-direction: row; justify-content: center;">
   <div class="col-lg-6 col-sm-12 container--wrap center">
    <h2 style="color: #DFDFEF; font-size: 35px; text-align: center; padding-top: 15px; font-weight: bolder;">
     <i class="fa fa-link"></i> Sources</h2>
    <div style="text-align: center; padding-bottom: 25px;">

     <p style="color: #DFDFEF; font-size: 20px;">Local government websites/health departments</p>
     <a style="color: #DFDFEF; font-size: 20px;" href="https://www.covid19india.org/"><u>covid19india</u></a> <br>
     <a style="color: #DFDFEF; font-size: 20px;" href="https://www.cdc.gov/"><u>CDC</u></a> <br>
     <a style="color: #DFDFEF; font-size: 20px;" href="https://www.who.int/"><u>WHO</u></a> <br>

    </div>
   </div>
  </div>
 </div>
</div>

{% endblock %}