{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <title>nCov19india</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}" />
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,500,700" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/jquery-jvectormap-2.0.5.css'%}">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="{% static 'js/mapassets/jquery-jvectormap-2.0.5.min.js'%}"></script>

  <!--- World SVG Path Info file in jVectorMap supported format-->
  <script src="{% static 'js/mapassets/jquery-jvectormap-in-merc.js'%}"></script>
  <link rel="stylesheet"  href="{% static 'tracker/main.css' %}">
  <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  {% include 'tracker/navbar.html' %} {% block content %} {% endblock %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{% static 'js/indiastats.js' %}"></script>
  <script src="{% static 'js/indiatable.js' %}"></script>


  <script src="{% static 'js/states/allstates.js' %}"></script>

</body>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</html>
