<div class="col col-lg-3">
  <div class="container--wrap bg-navy-4">
    <div class="card card-body stats-overall-india">
      <p style="
          color: #dfdfef;
          text-align: center;
          font-size: 1.7rem;
          font-weight: bold;
        ">
        INDIA STATS
      </p>

      <p id="confirmed" style="
          color: rgb(68, 155, 226);
          font-weight: bold;
          text-align: center;
          border-bottom: 0;
          font-size: 50px;
          margin-bottom: 0px;
        "></p>
      <p style="
          color: #dfdfef;
          font-size: 18px;
          font-weight: bold;
          border-bottom: 0;
          text-align: center;
        ">
        Total Confirmed
      </p>

      <p id="deaths" style="
          color: #f65164;
          font-weight: bold;
          text-align: center;
          border-bottom: 0;
          font-size: 50px;
          margin-bottom: 0px;
        "></p>
      <p style="
          color: #dfdfef;
          font-size: 18px;
          font-weight: bold;
          border-bottom: 0;
          text-align: center;
        ">
        Total Deceased
      </p>
      <p id="active" style="
          color: rgb(248, 245, 64);
          font-weight: bold;
          text-align: center;
          border-bottom: 0;
          font-size: 50px;
          margin-bottom: 0px;
        "></p>
      <p style="
          color: #dfdfef;
          font-size: 18px;
          font-weight: bold;
          border-bottom: 0;
          text-align: center;
        ">
        Total Active
      </p>
      <p id="recovered" style="
          color: rgb(101, 221, 155);
          font-weight: bold;
          text-align: center;
          border-bottom: 0;
          font-size: 50px;
          margin-bottom: 0px;
        "></p>
      <p style="
          color: #dfdfef;
          font-size: 18px;
          font-weight: bold;
          border-bottom: 0;
          text-align: center;
        ">
        Total Recovered
      </p>
    </div>
  </div>
</div>